#gallery {
  background-color: var(--steel-blue);
  padding: 7rem 0;
}

.slider {
  position: relative;
}

.slider__list {
  position: relative;
  min-width: 0;
}

.slick-list {
  overflow: hidden;
}

.slick-track {
  display: flex;
  gap: 30px;
}

.slick-track .slider__item {
  width: 100vw;
}

.slider__list .slick-arrow {
  display: none !important;
}

.slider__list .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
.slider__list .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider__list .slick-dots li button {
  cursor: pointer;
  font-size: 0;
  height: 11px;
  width: 11px;
  background-color: #fff;
  border-radius: 50%;
  padding: 0;
}

.slider__list .slick-dots li.slick-active button {
  background-color: transparent;
  border: 1px solid #fff;
}

#slider__list-feedback .slick-dots {
  justify-content: start;
}

.slick-slide {
  display: flex;
  justify-content: center;
  text-align: center;
}

.slick-slide img {
  object-fit: cover;
  vertical-align: top;
  width: 100%;
  height: auto;
  max-width: 1000px;
  max-height: 600px;
  filter: blur(3px) brightness(0.7);
  clip-path: inset(0);
  transition: filter 0.8s linear;
  margin-left: 2.5%;
}

.slick-slide.slick-active img {
  filter: none;
}

.btn-wrap button {
  position: absolute;
  cursor: pointer;
  background-color: transparent;
}

.btn-ico {
  width: 48px;
  height: 48px;
}

.next-btn {
  top: calc(50% - 48px);
  right: 1.5rem;
}

.prev-btn {
  top: calc(50% - 48px);
  left: 1.5rem;
}

.slider__item-text {
  font-size: 2rem;
  text-align: left;
}

#slider-feedback {
  padding: 7rem;
}

.slider__item * {
  line-height: 120%;
}

.slider__item {
  display: flex;
  flex-direction: column;
}

.slider__item-author {
  margin-top: 1rem;
  font-size: 1.6rem;
  text-align: left;
}

@media screen and (max-width: 900px) {
  .slider__item-text {
    font-size: 1.6rem;
  }

  .slider__item-author {
    font-size: 1.4rem;
  }

  .slick-slide img {
    height: 500px;
  }
}

@media screen and (max-width: 700px) {
  .slider__item-text {
    font-size: 1.4rem;
  }

  .slider__item-author {
    font-size: 1.2rem;
  }

  .slick-slide img {
    height: 450px;
  }

  #slider-feedback {
    padding: 7rem 4rem;
  }

  .btn-ico {
    height: 36px;
    width: 36px;
  }

  .prev-btn {
    top: calc(50% - 36px);
    left: 0.4rem;
  }

  .next-btn {
    top: calc(50% - 36px);
    right: 0.4rem;
  }

  #gallery .slick-slide {
    padding: 0 3rem;
  }
}

@media screen and (max-width: 400px) {
  .slick-slide img {
    margin-left: 5%;
  }
}
