html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

img {
  vertical-align: middle;
  object-fit: cover;
  background-color: var(--transparent-grey);
}

button {
  cursor: pointer;
  font-size: inherit;
  border: none;
  background: transparent;
}

a:focus {
  outline: 0 !important;
  border: 0 !important;
}

:root {
  --steel-blue: rgb(50, 106, 144);
  --transparent-grey: rgba(204, 204, 204, 0.5);
  --icy: rgb(182, 210, 224);
  --frosted: rgb(172, 205, 221);
  --pearl: rgb(245, 241, 241);
  --black: rgb(42, 41, 42);
  --transparent-white: rgba(255, 255, 255, 0.8);
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent; /* Removes the blue highlight on mobile when you click the button or image */
}

li,
a {
  text-decoration: none;
}

a {
  color: inherit;
}

.link:hover {
  opacity: 0.8;
  text-decoration: underline;
}

.btn {
  padding: 10px 12px;
  border: 2px solid #000;
  border-radius: 20px;
  transition: 0.2s background-color;
}

.btn:focus,
.btn:active {
  border: 2px solid #000 !important;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}

h1 {
  font-size: 1.6rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  line-height: 110%;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: 0.32px;
  line-height: 110%;
}

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 0.26px;
  line-height: 100%;
}

h4 {
  font-size: 0.8rem;
  font-weight: 500;
  letter-spacing: 0.14px;
  line-height: 100%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
  background-color: var(--pearl);
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}

.white-text {
  color: #fff;
}

.white-btn {
  color: #fff;
  border-color: #fff;
}

.white-btn:hover {
  color: var(--steel-blue);
  background-color: #fff;
}

.white-btn:focus,
.white-btn:active {
  border-color: #fff !important;
}

.steel-blue {
  background-color: var(--steel-blue);
}

.dark {
  background-color: var(--black);
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--icy);
  z-index: 999;
}

.header__wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 1.6rem;
}

.header__wrap .btn {
  padding: 8px 10px;
}

.header__wrap .btn:hover {
  color: var(--icy);
}

.header__nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.header__list {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__call-btn {
  text-align: right;
}

#footer {
  padding: 1.6rem;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
}

.footer__title {
  margin-bottom: 1.2rem;
}

.footer__title {
  font-size: 1.2rem;
}

.footer__content {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

#confirmation,
#privacy,
#terms,
#reimbursement {
  display: flex;
  min-height: 100vh;
  align-items: center;
  background-color: var(--pearl);
}

.confirmation__wrap,
.privacy__wrap,
.terms__wrap,
.reimbursement__wrap {
  display: flex;
  flex-direction: column;
  margin: 7rem 0;
}

.confirmation__wrap > *,
.privacy__wrap > *,
.terms__wrap > *,
.reimbursement__wrap > * {
  margin-bottom: 20px;
}

.confirmation__wrap > *:last-child,
.privacy__wrap > *:last-child,
.terms__wrap > *:last-child,
.reimbursement__wrap > *:last-child {
  margin-bottom: 0;
}

.privacy__list,
.terms__list,
.reimbursement__list {
  list-style: outside;
}

.return__btn,
.contact__submit,
.about__btn {
  align-self: flex-start;
}

@media screen and (max-width: 700px) {
  html {
    font-size: 14px;
  }
}